body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 50px;
  border-radius: 10px;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}